{
    "overrides": [
      {
        "files": "*.js",
        "options": {
          "parser": "babel",
          "tabWidth": 2,
          "singleQuote": true,
          "semi": false,
          "trailingComma": "none",
          "arrowParens": "avoid"
        }
      }
    ]
  }
  